#spr1_16f4acb {clip:rect(0px,2592px,1440px,0px);}#txt0_16f4acb {font-family:fnt6; font-size:64px; line-height:77px; color:#ffffff;}#spr12_16f4acb,#spr17_16f4acb,#spr22_16f4acb {display:none;}#svg1_16f4acb,#svg3_16f4acb,#svg5_16f4acb {pointer-events:none;}